$padding: 8px;
$margin: 8px;

$radius: 4px;
$textcolor: #ffffff;
$secondary_textcolor: #000000;

$color1: #074f57;
$color2: #077187;
$color3: #74a57f;
$color4: #9ece9a;
$color5: #e4c5af;
$color6: #ffffff;
$color7: #d9d9d9;
$color8: #262626;
